<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'header.html' %}
    {% for i in task %}
    <form method="post" action="">
        {% csrf_token %}
        <table>
            <td>Name:</td>
            <td>
                <input type="text" name="name" value="{{i.name}}">
            </td>
            <tr>
                <td>Time:</td>
                <td>
                    <input type="text" name="time" value="{{i.time}}">
                </td>
            </tr>
            <tr>
                <td colspan="2"></td>
                <td>
                    <input type="submit" name="Update Task">
                </td>
            </tr>
        </table>
    </form>
    {% endfor %}
    {% include 'footer.html' %}
</body>
</html>